:root {
	--dark: #263238;
    --grey: #8f95a5;
	--light-grey: #f5f5f5;
    --white: #ffffff;
}
html {
	box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 2.2rem;
}
.title {
	font-weight: 600;
	font-size: 4.8rem;
	line-height: 8rem;
	color: #000000;
}
/* header style start **************************************************************************************/
.header {
	padding: 5.2rem 0;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-size: 3.6rem;
}
.header__logo>a {
	text-decoration: none;
	color: #000000;
}
.header__logo>a>span {
	color: #939393;
}
.header__nav {
	padding-left: 1rem;
}
.header__nav-link {
	text-decoration: none;
	font-size: 2rem;
	font-weight: 500;
	color: var(--dark);
	margin-right: 4rem;
}
.header__nav-link:nth-child(3) {
    margin-right: 5.4rem;
}
.header__nav-link:last-child {
	margin-right: 0;
}
.header__button {
	padding: 1.9rem 5.7rem;
	font-size: 2.4rem;
	color: #000000;
	background-color: #ffffff;
}
/* intro style start *****************************************************************************************/
.intro__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.inner__items {
	max-width: 63.2rem;
}
.inner__items-header {
	display: flex;
	align-items: center;
	gap: 3.8rem;
}
.inner__image-header {
	width: 7.039rem;
	height: 8.524rem;
}
.inner__title {
	font-size: 6.4rem;
	font-weight: 600;
	margin-bottom: 4rem;
}
.inner__text {
	font-size: 2.4rem;
	color: var(--grey);
	margin-bottom: 6.1rem;
}
.inner__btn {
	padding: 3.2rem 11.7rem 3.2rem 11.8rem;
	background-color: var(--dark);
	border-radius: 1rem;
	font-size: 3.6rem;
	color: #ffffff;
}
/* section skils style start ****************************************************************************************/
.skills {
	padding: 10.3rem 0;
}
.skills__title {
	text-align: center;
	margin-bottom: 9.3rem;
}
.skills__items {
	display: grid;
	gap: 3rem;
	grid-template-areas: 
	"one two three"
	"one four four";
	justify-content: space-evenly;
	align-items: stretch;
}
.skills__item {
	background-color: var(--light-grey);
	padding: 1.5rem;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.skills__item_speaking {
	grid-area: one;
}
.skills__item_writng {
	grid-area: two;
}
.skills__item_reading {
	grid-area: three;
}
.skills__item_listening {
	grid-area: four;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.skills__item_listening .skilss__image {
	order: 1;
}
.skills__image {
	background-color: var(--light-grey);
}
.skills__item-title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 8rem;
	color: var(--dark);
}
.skills__item-text,
.skills__item-text__top {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: var(--grey);
	width: 100%;
	max-width: 43.5rem;
	margin-bottom: 3.3rem;
}
/* .skills__item-text__top {

} */
.skills__item-btn {
	width: 21.8rem;
	height: 6rem;
	background-color: var(--dark);
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 2rem;
	line-height: 3rem;
	color: #ffffff;
	border: none;
	cursor: pointer;
	transition: 0.3s all;
}
.skills__item-btn:hover {
	opacity: 0.8;
}
/* section about style start *****************************************************************************/
/* .about {
} */
.about__inner {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}
.about__content {
	width: 100%;
	max-width: 63.5rem;
}
.about__title {
	margin-bottom: 2.3rem;
}
.about__text {
	font-size: 2rem;
	color: #8f95a5;
	margin-bottom: 5rem;
}
.about__list {
	display: flex;
	justify-content: space-between;
}
.about__list-item {
	text-align: center;
}
.about__list-title {
	font-weight: 600;
	font-size: 4.8rem;
	line-height: 8rem;
	color: var(--dark)
}
.about__list-title_first {
	text-shadow: 6px 0px 6px var(--grey);
}
.about__list-text {
	font-size: 2rem;
	color: #8f95a5;
	margin-bottom: 2.3rem;
}
.about__img {
	width: 100%;
	max-width: 54.9rem;
	height: 77.1rem;
	background-color: var(--light-grey);
	border-radius: 1rem;
}
.about__image {
	margin-top: -2rem;
}
/* section pricing style start **************************************************************************************/
.pricing {
	margin-top: -12rem;
	padding-bottom: 14.5rem;
}
.pricing__title {
	text-align: center;
	margin-bottom: 5.7rem;
}
.pricing__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pricing__items {
	max-width: 30%;
}
.pricing__image_first {
	margin-bottom: 4.5rem;
}
.pricing__image_second {
	margin-bottom: 7rem;
}
.pricing__image_third {
	margin-bottom: 1.1rem;
}
.pricing__items-title {
	font-weight: 600;
	font-size: 3rem;
	line-height: 4.8rem;
	color: var(--dark);
}
.pricing__items-text {
	font-size: 2rem;
	color: var(--grey)
}
.pricing__items-text_first {
	margin-bottom: 2.9rem;
}
.pricing__items-text_second {
    margin-bottom: 5.9rem;
}
.pricing__items-text_third {
    margin-bottom: 5.9rem;
}
.pricing__btn {
	padding: 0.7rem 2.4rem 1.1rem 1.8rem;
	font-size: 3rem;
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}
.pricing__btn span {
	font-size: 1.8rem;
	color: #546269;
}
/* section contact style start ******************************************************************************/
