:root {
	--dark: #263238;
    --grey: #8f95a5;
	--light-grey: #f5f5f5;
    --white: #ffffff;
}
html {
	box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.title {
	font-weight: 600;
	font-size: 4.8rem;
	line-height: 8rem;
	color: #000000;
}
/* header style start **************************************************************************************/
.header {
	padding: 5.4rem 0;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 3.6rem;
}
.logo>a {
	text-decoration: none;
	color: #000000;
}
.logo>a>span {
	color: #939393;
}
.header__nav-link {
	text-decoration: none;
	font-size: 2rem;
	font-weight: 500;
	color: var(--dark);
	margin-right: 3.3rem;
}
.header__nav-link:nth-child(3) {
    margin-right: 5.4rem;
}
.header__nav-link:last-child {
	margin-right: 0;
}
.header__button {
	padding: 1.9rem 5.2rem;
	font-size: 2.4rem;
	color: #000000;
	background-color: #ffffff;
	border-radius: 0.5rem;

}
/* intro style start *****************************************************************************************/
.intro__inner {
	display: flex;
	gap: 14rem;
	align-items: center;
}
.inner__items {
	max-width: 63.2rem;
}
.inner__items-header {
	display: flex;
	align-items: center;
	gap: 4.4rem;
}
.inner__image-header {
	width: 11.039rem;
	height: 12.524rem;
}
.inner__title {
	font-size: 6.4rem;
	font-weight: 600;
	margin-bottom: 4rem;
	line-height: 8rem;
}
.inner__text {
	font-size: 2.4rem;
	color: var(--grey);
	margin-bottom: 6.5rem;
}
.inner__btn {
	padding: 3.3rem 11.9rem 3.3rem 11.9rem;
	background-color: var(--dark);
	border-radius: 1.3rem;
	font-size: 3.9rem;
	color: #ffffff;
}
.inner__image-language {
	/* padding-right: 4rem; */
	max-width: 66.1rem;
}

/* section skills style start ****************************************************************************************/
.skills {
	padding: 10.3rem 0 14rem;
}
.skills__title {
	text-align: center;
	margin-bottom: 9.5rem;	
}
.skills__items {
	display: grid;
	gap: 2rem;
	grid-template-areas: 
	"one two three"
	"one four four";
	justify-content: space-evenly;
	align-items: stretch;
}
.skills__item {
	background-color: var(--light-grey);
	padding: 1rem;
	border-radius: 1.5rem;
	display: flex;
	flex-direction: column;
	border: 1px solid #000000;
}
/*skills speaking */
.skills__item_speaking {
	grid-area: one;
	justify-content: flex-start;
	padding: 1.5rem;
	max-width: 44.5rem;
	height: 89.4rem;
}
.skills__item_speaking>.skills__image {
	margin-bottom: 0.7rem;
}
.skills__item_speaking>.skills__image>.skills__img {
	margin-top:2rem;
}
.skills__item_speaking>.skills__item-content {
	padding-left: 2.3rem;
}
.skills__item_speaking>.skills__item-content>.skills__item-title {
	margin-bottom: 1rem;
}

.skills__item_speaking>.skills__item-content>.skills__item-text {
	margin-bottom: 2.6rem;
}
.skills__item_speaking>.skills__item-content>.skills__item-btn {
	margin-top: 1rem;
}
/*skills writing */
.skills__item_writing {
	grid-area: two;
	padding: 1rem;
	max-width: 44.4rem;
}
.skills__item_writing>.skills__image {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 4rem;
}
.skills__item_writing>.skills__image>.skills__img {
	margin-top: -1.5rem;
	padding-left: 12rem;
}
.skills__item_writing>.skills__item-content {
    margin-top: -7.7rem;
	padding-left: 3.4rem;
}
.skills__item_writing>.skills__item-content>.skills__item-title {
	margin-bottom: -1.4rem;
}
.skills__item_writing>.skills__item-content>.skills__item-text {
	margin-bottom: 4rem;
}
/*skills reading */
.skills__item_reading {
	grid-area: three;
    max-width: 44.5rem;
}
.skills__item_reading>.skills__item-content {
	padding-left: 3.5rem;
}
.skills__item_reading>.skills__item-content>.skills__item-title {
	margin-bottom: -1.5rem;
}
.skills__item_reading>.skills__item-content>.skills__item-text {
	margin-bottom: 3.4rem;
}
/*skills listening */
.skills__item_listening {
	grid-area: four;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.skills__item_listening .skills__image {
	order: 1;
	max-width: 38.2rem;
	margin-right: 1.5rem;
	margin-bottom: 3rem;
}
.skills__item_listening>.skills__item-content {
	padding-left: 4.8rem;
}
.skills__item_listening>.skills__item-content>.skills__item-title {
	padding-top: 3rem;
}
.skills__item_listening>.skills__item-content>.skills__item-text {
	margin-bottom: 2rem;
}
/* **************************************************************************************** */
.skills__item_content {
	max-width: 34.7rem;
}
.skills__image {
	background-color: var(--light-grey);
}
.skills__item-title {
	font-size: 3rem;
	font-weight: 600;
	line-height: 8rem;
	color: var(--dark);
}
.skills__item-text__top,
.skills__item-text {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: var(--grey);
	width: 100%;
	max-width: 43.5rem;
}
.skills__item-btn {
	width: 23rem;
	height: 5.8rem;
	background-color: var(--dark);
	border-radius: 0.5rem;
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 3rem;
	color: #ffffff;
	border: none;
	cursor: pointer;
	transition: 0.3s all;
}
.skills__item-btn:hover {
	opacity: 0.8;
}
/* section about style start *****************************************************************************/
.about {
	padding: 14rem 0 0;
}
.about__inner {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
}
.about__content {
	width: 100%;
	max-width: 63.5rem;
}
.about__title {
	margin-bottom: 2.3rem;
}
.about__text {
	font-size: 2rem;
	color: #8f95a5;
	margin-bottom: 4rem;
}
.about__list {
	width: 100%;
	max-width: 60rem;
	display: flex;
	justify-content: space-between;
}
.about__list-item {
	text-align: center;
}
.about__list-item:nth-child(2) {
	padding-left: 5rem;
}
.about__list-title {
	font-weight: 600;
	font-size: 4.8rem;
	line-height: 8rem;
	color: var(--dark)
}
.about__list-title_first {
	text-shadow: 6px 0px 6px var(--grey);
}
.about__list-text {
	font-size: 2rem;
	color: #8f95a5;
	margin-bottom: 2.3rem;
}
.about__img {
	width: 100%;
	max-width: 54.9rem;
	height: 77.1rem;
	background-color: var(--light-grey);
	border-radius: 1rem;
	padding-left: 4rem;
}
.about__image {
	margin-top: -3rem;
}
/* section pricing style start **************************************************************************************/
.pricing {
	margin-top: -11rem;
	padding-bottom: 14.5rem;
}
.pricing__title {
	text-align: center;
	margin-bottom: 5.7rem;
}
.pricing__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pricing__items {
	max-width: 30%;
}
.pricing__image_first {
	margin-bottom: 4rem;
	padding-left: 2rem;
}
.pricing__image_second {
	margin-bottom: 4rem;
	padding-top: 2.5rem;
}
.pricing__image_third {
	margin-bottom: 1.8rem;
	padding-left: 2rem;
}
.pricing__items-title {
	font-weight: 600;
	font-size: 3rem;
	line-height: 4.8rem;
	color: var(--dark);
	margin-bottom: 1rem;
}
.pricing__items-text {
	font-size: 2rem;
	color: var(--grey)
}
.pricing__items-text_first {
	margin-bottom: 2.9rem;
}
.pricing__items-text_second {
    margin-bottom: 5.9rem;
}
.pricing__items-text_third {
    margin-bottom: 5.9rem;
}
.pricing__btn {
	padding: 0.7rem 2.4rem 1.1rem 1.8rem;
	font-size: 3rem;
	color: var(--dark);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}
.pricing__btn span {
	font-size: 1.8rem;
	color: #546269;
}
/* section contact style start ******************************************************************************/
.contact {
	padding: 6rem 0 13.3rem;
	border-bottom: 1px solid #c4c4c4;
}
.contact__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact__image {
	width: 100%;
	max-width: 47.7rem;
	height: auto;
	padding-top: 4.5rem;
    margin-left: -2rem;
}
.contact__descr {
	width: 100%;
	max-width: 77.6rem;
	padding-left: 1rem;
}
.contact__title {
	margin-bottom: 3.7rem;
}
.contact__text {
	font-size: 2rem;
	color: #8f95a5;
	margin-bottom: 5.2rem;
}
.contact__form {
	display: flex;
	gap: 1.4rem;
}
.contact__input {
	width: 100%;
	max-width: 45rem;
	padding: 2.6rem 0 3rem 3.3rem;
	border-radius: 1rem;
	font-size: 1.6rem;
	color: #8f95a5;
	border: 1px solid #8f95a5;
}
.contact__btn {
	padding: 2.5rem 8.4rem;
	border-radius: 1rem;
	border: 1px solid var(--dark);
	background-color: var(--dark);
	color: #ffffff;
	font-weight: 500;
	font-size: 2rem;
}
/* footer style start ************************************************************************************/
.footer {
	padding: 3.1rem 0 6.4rem;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer__descr {
	font-size: 2.4rem;
	color: var(--grey)
}
